.card_main_container {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.main_card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.main_card:hover {
  transform: rotateY(180deg);
}

.card_front_side {
  position: absolute;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #333a73;
  box-shadow: 1px 1px 15px #cccccc;
  justify-content: center;
  padding: 10px;
  align-items: center;
  gap: 50px;
  color: #fff;
}

.card_front_side p {
  font-weight: 500;
  font-size: 18px;
}

.card_icon {
  width: 90px;
  fill: #fff;
}

.card_back_side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  padding: 10px;
  background-color: #f6995c;
  color: white;
  transform: rotateY(180deg);
}

.card_back_side h2 {
  color: #333a73;
}

.card_back_side {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
