.header_main_container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: fixed;
  width: 100%;
  padding: 0 10vw;
  z-index: 1;
}

.header_content {
  display: flex;
  align-items: center;
  gap: 2vw;
  color: black;
  margin-right: 20vw;
  cursor: pointer;
}

.header_content p {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
}

.header_content p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header_content p:hover {
  color: #0087ca;
  font-weight: 500;
}

.header_content p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header_glarus_logo {
  width: 60px;
  margin-bottom: 1vh;
}
